@import 'https://fonts.googleapis.com/css?family=Noto+Sans+HK:700';

html {
    background-color: black;
    color: white;
    text-align: center;
}

h1,h2,h3,h4,p, {
    color: white;
}

table {
    cell-spacing: 5px;
    margin: 10px;
    border-spacing: 5px 5px;
    border-color: black;
}

td  {
    background-color: red;
    border-color: black;
    border-width: 10px;
    width: 50px;
    height: 50px;
}


.insertRow, .deleteRow, .insertCol, .deleteCol {
	background-color: white;
	border: none;
	color: black;
	margin: 10px 0px 0px 0px;
	width: 20px;
	height: 17px;
	cursor: pointer;
}

.fillCells, .fillUncoloredCells, .clear {
	background-color: white;
	border: none;
	color: black;
	width: 100px;
	height: 17px;
	cursor: pointer;
}

.fillCells:hover {
	background-color: aqua;
}

.flllUncoloredCells:hover {
	background-color: aqua;
}

.clear:hover {
	background-color: aqua;
}
.insertRow:hover{
	background-color: aqua;
}

.deleteRow:hover {
	background-color: aqua;
}

.insertCol:hover {
	background-color: aqua;
}

.deleteCol:hover {
 	background-color: aqua;
}

/* dropdown */

.dropdownButton {
	background-color: white;
	color: black;
	margin: 10px 0px 0px 0px;
	width: 60px;
	height: 17px;
	border: none;
	cursor: pointer;
}

.dropdownButton:hover, .dropdownButton:focus {
  	background-color: aqua;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
