@import 'https://fonts.googleapis.com/css?family=Noto+Sans+HK:700';

/* main */
html {
    background-color: black;
    color: white;
    text-align: center;
}

body {
	text-align: center;
}

h1,h2,h3,h4,p, {
    color: white;
}

table {
    margin: 10px;
    border-spacing: 5px 5px;
    border-color: black;
}

/* no borders; otherwise table adds random 1px black border everywhere*/
td  {
	border: none;
    width: 50px;
    height: 50px;
}

/* buttons */

.insertRow, .deleteRow, .insertCol, .deleteCol {
	background-color: white;
	border: none;
	color: black;
	margin: 10px 0px 0px 0px;
	width: 20px;
	height: 17px;
	cursor: pointer;
}

.fillCells, .fillUncoloredCells , .clear {
	background-color: white;
	border: none;
	color: black;
	width: 100px;
	height: 17px;
	cursor: pointer;
}

.fillCells:hover {
	background-color: aqua;
}

.fillUncoloredCells:hover {
	background-color: aqua;
}

.clear:hover {
	background-color: aqua;
}
.insertRow:hover{
	background-color: aqua;
}

.deleteRow:hover {
	background-color: aqua;
}

.insertCol:hover {
	background-color: aqua;
}

.deleteCol:hover {
 	background-color: aqua;
}

/* dropdown */

select {
	background-color: white;
	color: black;
	margin: 10px 0px 0px 0px;
	width: 60px;
	height: 17px;
	border: none;
	cursor: pointer;
}